<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
</head>
<body>

<%- include("partials/navbar", { user: user }) %>

<h1>Task List</h1>

<form action="/task" method="post">
    <input type="text" name="title" placeholder="Enter title" required>

    <select name="categoryId" required>
        <% categories.forEach(c => { %>
            <option value="<%= c._id %>"><%= c.category %></option>
        <% }) %>
    </select>

    <input type="submit" value="Add Task">
</form>

<table border="1">
<thead>
<tr>
    <th>Title</th>
    <th>Category</th>
    <th>User</th>
    <th>Action</th>
</tr>
</thead>

<tbody>
<% data.forEach(task => { %>
<tr>
    <td><%= task.title %></td>
    <td><%= task.categoryId.category %></td>
    <td>
      <% if(task.userId){ %>
         <%= task.userId.name %>
      <% } %>
    </td>
    <td>
        <a href="/task/edit/<%=task._id%>">Edit</a>
        <a href="/task/delete/<%=task._id%>">Delete</a>
    </td>
</tr>
<% }) %>
</tbody>
</table>

</body>
</html>
